{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Resolve Your Kalesh</title>
</head>
<body>
    <div class="centered-div">
        <img src="{% static 'images/kalesh_logo.png' %}" alt="Kalesh Logo">
        <h1>Resolve Your Kalesh</h1>
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form.email_1 }}
            {{ form.email_2 }}
            <button type="submit" class="submit-btn">Resolve</button>
        </form>
    </div>
</body>
</html>
